*
  box-sizing: border-box
  
.app
  text-align: center

  &.overlay
    padding: 2em

@media (prefers-reduced-motion: no-preference)
  .app-logo
    animation: App-logo-spin infinite 20s linear

.app-header
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.expand
  height: auto

.add-form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 10em
  height: 10em
  border-radius: 1em
  border: 4px dashed #efefef
  padding: .5em
  margin: .5em

  .showInput
    border-width: 3px
    border-style: solid
    border-color: #b8b8b8
    width: 100%
    font-size: 1em
    padding: .2em

  .add-show
    display: none
    border-width: 3px
    border-style: solid
    border-color: #b8b8b8
    background-color: white
    font-size: .8em
    font-family: Montserrat, sans-serif
    font-weight: bold
    border-radius: .3em
    padding: .2em .4em
    color: #b8b8b8
    margin-top: 1em
    

.cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  margin: 5vw

.card
  display: flex
  width: 10em
  height: 10em
  background-color: #E4EDF6  
  position: relative
  border-radius: 1em
  justify-content: center
  align-items: center
  margin: .5em

.card-text  
  padding: 2em
  display: flex
  flex-direction: column

.close-button
  position: absolute
  top: .15em
  right: .25em
  border-radius: 50%
  font-size: 1.4em
  border-width: 0
  background-color: transparent
  color: grey

.group-picker
  display: inline-block

.instructions-one,
.instructions-two,
.instructions-three
  display: block
  padding: 1em
  margin: 1.5em
  border-radius: 1em
  font-size: 1.5em
  background-color: #eaeaeaef

.close
  position: absolute
  z-index: 2
  width: 2em
  height: 2em
  top: 2em
  right: 2em
  display: none

  &.show
    display: inline-block

.shown
  display: block

.hidden
  display: none

.one
  .groups,
  .send,
  .group-picker,
  .instructions-two,
  .instructions-three
    display: none

.two
  .groups,
  .group-picker,
  .instructions-two
    display: block
  .send,
  .instructions-one,
  .instructions-three
    display: none

.three
  .groups,
  .group-picker,
  .send
  .instructions-three
    display: block
  .instructions-one,
  .instructions-two
    display: none
